<h6>{{Organization}}</h6>
<div class="polyclinic-info">
    <div class="polyclinic-title">{{Description.Polyclinic.Title}}</div>
    <div class="polyclinic-phones">
        {{#each Description.Polyclinic.Phones}}
            {{this}}<br>
        {{/each}}
    </div>
    <div class="polyclinic-title">График:</div>
    <div class="polyclinic-work-schedule">
        {{#each Description.Polyclinic.WorkSchedule}}
            {{this}}<br>
        {{/each}}
    </div>
</div>
{{#if Description.DoctorHome.Title}}
    <div class="doctor-home-info">
        <div class="doctor-home-title">{{Description.DoctorHome.Title}}</div>
        <div class="doctor-home-phones">
            {{#each Description.DoctorHome.Phones}}
                {{this}}<br>
            {{/each}}
        </div>
        <div class="doctor-home-title">График:</div>
        <div class="doctor-home-work-schedule">
            {{#each Description.DoctorHome.WorkSchedule}}
                {{this}}<br>
            {{/each}}
        </div>
    </div>
{{/if}}
